@model StudentManagementSystem.Models.Student

@{
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<h2>Student Information</h2>

<table class="table">
    <tr>
        <th>Number</th>
        <td>@ViewBag.StudentInfos.Number</td>
    </tr>
    <tr>
        <th>Name-Surname</th>
        <td>@ViewBag.StudentInfos.NameSurname</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>@ViewBag.StudentInfos.Gender</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <td>@ViewBag.StudentInfos.DateOfBirth.ToString("dd-MM-yyyy")</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>@ViewBag.StudentInfos.Phone</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@ViewBag.StudentInfos.Email</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@ViewBag.StudentInfos.Address</td>
    </tr>
</table>
