@model StudentManagementSystem.Models.Student

@{
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

@{
    ViewBag.Title = "StudentInfo";
}

<h2>Student Information</h2>

<p>Email: @Model.Number</p>
<p>Name: @Model.NameSurname</p>
<p>Gender: @Model.Gender</p>
<p>Date of Birth: @Model.DateOfBirth.ToShortDateString()</p>
<p>Phone: @Model.Phone</p>
<p>Address: @Model.Email</p>
<p>Address: @Model.Address</p>