@model IEnumerable<StudentManagementSystem.Models.Announcement>

@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="text-center my-4">Announcements</h2>

@if (Model != null && Model.Any())
{   
  <form method="post" asp-action="DeleteAnnouncement">
    <table class="table table-striped table-bordered">
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 20%">
        <col style="width: 50%">
        <col style="width: 20%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">File</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var announcement in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedAnnouncement" value="@announcement.Id" />
                    </td>
                    <td>@announcement.Date.ToShortDateString()</td>
                    <td>@announcement.Title</td>
                    <td>@announcement.Description</td>
                    <td>
                        @if (!string.IsNullOrEmpty(announcement.File))
                        {
                            <a href="@announcement.File" class="btn btn-primary btn-sm" target="_blank">View File</a>
                        }
                        else
                        {
                            <span>No file</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
        </table>
    <button type="submit" class="btn btn-danger">Delete Selected Announcements</button>
</form>
}
else
{
    <p class="text-center">No announcements available.</p>
}
