@model StudentManagementSystem.Models.Student

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<form id="studentForm" asp-action="AddStudent">
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="Number" class="control-label">Number:</label>
                <input type="text" asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="NameSurname" class="control-label">Name - Surname:</label>
                <input type="text" asp-for="NameSurname" class="form-control" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="DateOfBirth">Date of Birth:</label>
                <input type="date" asp-for="DateOfBirth" class="form-control" required>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Email">E-mail:</label>
                <input type="email" asp-for="Email" class="form-control" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                
        <label asp-for="AdvisorId" class="control-label">Advisor</label>
        <select asp-for="AdvisorId" class="form-control">
            <option value="">Select Advisor</option>
            @foreach (var advisor in ViewBag.Advisors)
            {
                <option value="@advisor.Id">@advisor.Name</option>
            }
        </select>
        <span asp-validation-for="AdvisorId" class="text-danger"></span>

    </div>

        </div>
        <div class="col-md-4 offset-md-2">
            <div class="form-group">
                <label asp-for="Phone">Phone:</label>
                <input type="text" asp-for="Phone" class="form-control" required>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Address">Address:</label>
                <textarea asp-for="Address" class="form-control" required></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password:</label>
                <input type="text" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Gender" value="Male" required>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Gender" value="Female" required>
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary">Add Student</button>
        </div>
    </div>
</form>
<p></p>
<hr style="border: 1px solid lightblue;">

<form method="post" asp-action="DeleteStds">
     <div class="form-group">
        <input type="text" id="searchNumber" placeholder="Search by Number" oninput="searchByNumber()">
        <input type="text" id="searchNameSurname" placeholder="Search by Name Surname" oninput="searchByNameSurname()">
    </div>
<table class="table">
    <thead>
        <tr>
             <th>Select</th>
            <th>Number</th>
            <th>Name - Surname</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var students in ViewBag.StudentsInfo)
        {
            <tr>
                <td>
                    <input type="checkbox" name="selectedStudents" value="@students.Id" />
                </td>
                <td>@students.Number</td>
                <td>@students.NameSurname</td>
                <td>@students.Gender</td>
                <td>@students.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td>@students.Email</td>
                <td>@students.Phone</td>
                <td>@students.Address</td>
                <td>@students.Password</td
            </tr>
        }
    </tbody>
</table>
<button type="submit" class="btn btn-danger">Delete Selected Students</button>
</form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('studentForm');

            form.querySelector('[name="Number"]').addEventListener('input', function (event) {
                var input = event.target;
                var validationMessage = input.nextElementSibling;
                if (input.value.trim() === '') {
                    validationMessage.textContent = 'Number is required';
                } else {
                    validationMessage.textContent = '';
                }
            });

            form.querySelector('[name="NameSurname"]').addEventListener('input', function (event) {
                var input = event.target;
                var validationMessage = input.nextElementSibling;
                if (input.value.trim() === '') {
                    validationMessage.textContent = 'Name - Surname is required';
                } else {
                    validationMessage.textContent = '';
                }
            });

            form.querySelectorAll('[name="Gender"]').forEach(function (radio) {
                radio.addEventListener('change', function () {
                    var validationMessage = form.querySelector('[name="Gender"]').parentElement.querySelector('.text-danger');
                    if (!form.querySelector('[name="Gender"]:checked')) {
                        validationMessage.textContent = 'Gender is required';
                    } else {
                        validationMessage.textContent = '';
                    }
                });
            });

            form.querySelector('[name="DateOfBirth"]').addEventListener('input', function (event) {
                var input = event.target;
                var validationMessage = input.nextElementSibling;
                if (input.value.trim() === '') {
                    validationMessage.textContent = 'Date of Birth is required';
                } else {
                    validationMessage.textContent = '';
                }
            });

            form.querySelector('[name="Email"]').addEventListener('input', function (event) {
                var input = event.target;
                var validationMessage = input.nextElementSibling;
                var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
                if (!emailPattern.test(input.value.trim())) {
                    validationMessage.textContent = 'Invalid email format';
                } else {
                    validationMessage.textContent = '';
                }
            });

            form.querySelector('[name="Phone"]').addEventListener('input', function (event) {
                var input = event.target;
                var validationMessage = input.nextElementSibling;
                var phonePattern = /^\d{10}$/;
                if (!phonePattern.test(input.value.trim())) {
                    validationMessage.textContent = 'Invalid phone number. It should contain 10 digits';
                } else {
                    validationMessage.textContent = '';
                }
            });

            form.querySelector('[name="Address"]').addEventListener('input', function (event) {
                var input = event.target;
                var validationMessage = input.nextElementSibling;
                if (input.value.trim() === '') {
                    validationMessage.textContent = 'Address is required';
                } else {
                    validationMessage.textContent = '';
                }
            });

        form.querySelector('[name="Password"]').addEventListener('input', function (event) {
            var input = event.target;
            var validationMessage = input.nextElementSibling;
            if (input.value.trim() === '') {
                validationMessage.textContent = 'Password is required';
            } else {
                validationMessage.textContent = '';
            }
        });

        });
    </script>

  <script>
    function searchByNumber() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchNumber");
        filter = input.value.toUpperCase();
        table = document.querySelector("table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function searchByNameSurname() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchNameSurname");
        filter = input.value.toUpperCase();
        table = document.querySelector("table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().startsWith(filter)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

   </script>